{% extends "base.html" %}
{% block content %}
    <div class="container">
        {% if request.user.is_authenticated %}
            <h1>HELLO, AUTHENTICATED USER!</h1>
        {% else %}
            <h1>HELLO, UNAUTHENTICATED USER!</h1>
        {% endif %}
        <a href="{% url 'rooms-list' %}" class="btn btn-link">Go to rooms list</a>
        <br>
        <a href="{% url 'book-room' %}" class="btn btn-link">Go to rooms booking</a>
        <br>
        <a href="{% url 'register' %}" class="btn btn-link">Go to register</a>
    </div>
{% endblock %}
